{% extends "based.html" %}
{% load i18n %}
{% block style %}
{% block logout1 %}
<li class="bt-active  bt-hasdropdown">
        <a id="logout" href="{% url 'register:auth_logout' %}">Logout</a>
</li>
{% endblock %}
{% block logout %}
<li class="bt-active  bt-hasdropdown">
        <a id="logout" href="{% url 'register:auth_logout' %}">Logout</a>
</li>
{% endblock %}
<!DOCTYPE html>
<html>
<script src="https://use.fontawesome.com/68a1a56600.js"></script>
<head>
	<title>LOGGED-OUT</title>
</head>
 {% include "body.html" %}
        <style>
.container{
	margin-bottom: 25em;
	margin-top: 10em;
}
        </style>
{% endblock %}
{% block a %}


     <div class="container">
     <br>
     	<h2><center><strong style="color:white">You Have Logged Out!</strong></center></h2>
     <br>
     <p><center><strong style="color:white">ThankYou For Visiting Us!</strong></center></p>
     </div>
</main>

{% endblock %}
{% block newskletter %}
{% endblock %}

